@charset "UFT-8";
@font-face {
    font-family: 'FonteLogo';  /* crio nome tema para a fonte */
    src: url("../_fonts/bubblegum-sans-regular.otf")  /* origem da fonte e subistituo la em baixo no h1 arial, o navegador baixa e usa*/
}
body {
        font-family: Arial, sans-serif;
        background-color: #dddddd;
        color: rgba(0,0,0,1);
    }

    p {   /*todo paragrafo terá: */
        text-align: justify;
        text-indent: 50px;
    }

    a {     /* todo link terá: */
        color: #606060;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
header#cabecalho img#icone {
            position: absolute;
            left: 1200px;
            top: 70px;
    }

    header#cabecalho {  /* divisao */
        border-bottom: 1px #606060 solid;
        height: 150px;
        background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;


    }

    header#cabecalho h1 { /* todo objeto cabecalho que for h1*/
        font-family: 'FonteLogo', san-serif;
        font-size: 30pt;
        color: #606060;
        text-shadow: 1px 1px 1px rgba(0.0.0..6);
        padding: 0px;
        margin-bottom: 0px;
    }


    header#cabecalho h2 { /* todo obj cabecalho que for h2*/
        font-family: Arial, sans-serif;
        color: #888888;
        font-size: 15pt;
        padding: 0px;
        margin-top: 0px
    }

div#interface {
        width: 1100px;
        background-color: #ffffff;
        margin: -20px auto 0px auto;
        box-shadow: 0px 0px 10px black;
        padding: 10px 10px 10px 10px;
}

    /* formatacao de imagens com legendas */

    figure.foto-legenda {
        position: relative;
        border: 8px solid white;
        box-shadow: 1px 1px 4px black;
    }

    figure.foto-legenda img {
        width: 100%;
        height: 100%;
    }

    figure.foto-legenda figcaption {
        opacity: 0;
        position: absolute;
        top: 0px; 
        background-color: rgba(0,0,0,.4);
        color: white;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        transition: opacity 1s;
    }

    figure.foto-legenda:hover figcaption {
        opacity: 1;
        

    }

   nav#menu {
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

   }

/* estilo para o menu ID MENU */
    nav#menu ul {
        list-style: none; /* retirando marcadores*/
        text-transform: uppercase; /* maiusculo*/
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -20px;  /* valor negativo para aproximar da barra do navegador */
        left: 450px;
    }

    nav#menu li {
        flex-shrink: 0;
        display: inline-block;
        background-color: #dddddd;
        padding: 10px; /* espaço dentro no menu */
        margin: 4px; /* espaco fora entre os botoes*/
        transition: background-color 1s; /* transicao de 1 segundo */
    }

    nav#menu li:hover {   /*efeito mouse por cima*/
        background-color: #606060;

    }

    nav#menu h1 {   /*esconder a utilidade visual */
        display: none;
    }

    nav#menu a {
        color: #000000;
        text-decoration: none
    }

     nav#menu a:hover {
        color: pink;
        text-decoration: underline;
     }

    
    section#corpo {
        display: block; /* em bloco */  
        width: 500px;
        float: left;   /* coloca para flutuar no lado esquerdo e em bloco */
        border-right: 1px solid #606060;
        padding-right: 1.9rem;
    }

    article#noticia-principal h2 {
        font-size: 13pt;
        color: #606060;
        background-color: #dddddd;
        padding: 5px 0px 5px 10px;
        margin: 10px 0px 10px 0px;
    }

    header#cabecalho-artigo h1 {
        font-family: 'FonteLogo', sans-serif;
        font-size: 20pt;
        color: #606060;
        margin-bottom: 0px;
        margin-top: 0px;
    }

     header#cabecalho-artigo h2 {
        font-size: 13pt;
        color: #cecece;
        background-color: #ffffff;
    }

     header#cabecalho-artigo h3 {
        font-size: 12px;
        color: #606060;        
    }

   

    .direita {      /*toda classe direita, seguinte atributos: */
        text-align: right;
    }



    aside#lateral {
        display: block;
        width: 350px;
        float: right; /* na direita em bloco */
        background-color: #dddddd;
        padding: 55px;
        margin-top: 10px;
        box-shadow: 2px 2px 2px rgba(0,0,0,.5);
    }

     aside#lateral h1 {
        font-family: 'FonteLogo', sans-serif;
        font-size: 20pt;
        color: #606060;
        margin-top: -25px;

    }

    aside#lateral h2 {
        background-color: #606060;
        font-size: 13pt;
        color: #ffffff;
        padding: 5px;

    }
    footer#rodape {   /* limpar divisao e ir para baixo*/
        clear: both;
        border-top: 1px solid #606060;  /*px */
    }

    footer#rodape {
        text-align: center;
    }

    table#tabelaspec {
        border: 1px solid #606060; /* bordas */
        border-spacing: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    table#tabelaspec td {
        border: 1px solid #606060;
        padding: 10px; /* espaco interno na celula */ 
        text-align: center;
        vertical-align: top;
        
    }

    /* classes em TD para definir lado das colunas CE CD */

    table#tabelaspec td.ce {
        color: #ffffff;
        background-color:  #606060;
        vertical-align: top;
        font-weight: bold;
    }

    table#tabelaspec td.cd {
        background-color: #cecece;
    
    }

    table#tabelaspec caption {
        color: #888888;
        font-size: 10pt;
        font-weight: bolder;
    }

    table#tabelaspec caption span {
        display: block;
        float: right;
        color: #000000;
        font-size: 8pt;
        margin-top: 10px;

    }