arquivos do projeto/projeto-glass-html5/.DS_Store
arquivos do projeto/projeto-glass-html5/_css/.DS_Store
arquivos do projeto/projeto-glass-html5/_textos/.DS_Store
arquivos do projeto/projeto-glass-html5/_imagens/.DS_Store
arquivos do projeto/projeto-glass-html5/_javascript/.DS_Store
